* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("../assets/marcos_01_.png");
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    margin: 2rem 4rem;
    font-size: 4rem;
    color: #fff;
}

.qr-container {
    height: 1920px;
    width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.qr-container a {
    font-size: 1rem;
    color: #fff;
}

#qrcode img {
    border: 16px solid #fff;
}

.button {
    position: relative;
    color: #000 !important;
    font-size: 1.5rem !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
}

.button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
