* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url("../assets/marcos_02_.png");
    background-repeat: no-repeat;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 85%; /* Adjust the width as needed */
}

.menu-item {
    width: 220px;
    height: 220px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50%;
    font-size: 5rem;
    margin-bottom: 10%;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}



/* .menu-item:nth-child(8) {
    margin-left: auto;
    margin-right: auto;
} */
