* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #000;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 85%; /* Adjust the width as needed */
}

.menu-item {
    width: 250px;
    height: 250px;
    background-color: #000;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50%;
    font-size: 5rem;
    margin-bottom: 10%;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}



.menu-item:nth-child(7) {
    margin-left: auto;
    margin-right: auto;
}
